@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

/* color valirables */
$color-primary-dark: hsl(209deg 23% 22%);
$color-primary-light: hsl(0deg 0% 100%);
$bg-color-primary-dark: hsl(207deg 26% 17%);
$bg-color-primary-light: hsl(0deg 0% 98%);
$txt-color-dark: hsl(200deg 15% 8%);
$txt-color-light: hsl(0deg 0% 52%);

/* Font Variables */
$font-family: 'Poppins', sans-serif;

/* font-weight */
$font-weight-normal: 300;
$font-weight-semi-bold: 500;
$font-weight-extra-bold: 700;

/* @font-size */
$regular: 0.875rem;
$regular-lg: 1rem;

/* Responsive Breakpoints */
$mobile-screen: 23.438rem;
$web-screen: 90rem;

/* element height */
$regular-height: 3.4rem;
$ele-radius: 0.3rem;
$input-min-width: 20.5rem;
$dropdown-width: 12rem;
$layout-break: 2.4rem;
$grid-gap-value: 4rem;
