%flux-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// -----------------------------------------
// Button Css
// -----------------------------------------

// -----------------------------------------
// CardLayout Css
// -----------------------------------------

// -----------------------------------------
// Card Css
// -----------------------------------------

// -----------------------------------------
// Info Css
// -----------------------------------------

// -----------------------------------------
// Menu Item Css
// -----------------------------------------

// -----------------------------------------
// Social
// -----------------------------------------
.social-share {
  @extend %flux-layout;
  column-gap: 10px;
  width: 100%;
  button {
    flex: 1;
    border: 0;
    padding: 10px 0;
    border-radius: 0;
    &.facebook {
      background: #687ec3;
    }
    &.twitter {
      background: #5bc2f7;
    }
  }
}

// -----------------------------------------
// sidebar
// -----------------------------------------
.sidebar {
  @extend %flux-layout;
  flex-direction: column;
  align-items: baseline;
  row-gap: 20px;
  padding: 20px;
  max-width: 260px;
}
// -----------------------------------------
// genre
// -----------------------------------------
.genre-list {
  max-height: 181px;
  overflow-y: scroll;
}
.genre-item {
  @extend %flux-layout;
  &:hover {
    height: 26px;
    background: #ccc;
    padding: 4px;
  }
}
// -----------------------------------------
// scrollbar
// -----------------------------------------
.scroll-bar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #262b36;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #262b36;
  }
}
// -----------------------------------------
// scrollbar
// -----------------------------------------
.year-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  max-height: 146px;
  overflow-y: scroll;
  padding: 8px;
  button {
    border: 0;
    border-radius: 0;
    &:hover {
      background: #ccc;
      color: inherit;
    }
  }
}

button {
  &:focus-visible {
    outline: 0;
  }
}
