%flux-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%layout-break {
  margin-bottom: $layout-break;
}

.card-layout {
  width: 100%;
}

.footer {
  @extend %flux-layout;
}
