@charset "UTF-8";

@import 'reset'; // reset css
@import 'base'; // configuration
@import 'layouts'; // layouts
@import 'components'; // components

.container {
  width: 1000px;
  height: 57px;
  margin: 0 auto;
}
.flex-layout {
  display: flex;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #636363;
  // background: #e9eaed;
  .header {
    width: 100%;
    margin: 0 auto;
    // background: #262b36;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    .header-layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-menu {
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-flex;
            padding: 0 1rem;
            height: 57px;
            align-items: center;
            a {
              float: left;
              color: #7a889d;
              text-decoration: none;
              font-size: 12px;
              font-weight: 600;
              font-family: Helvetica, Arial, sans-serif;
              &:hover {
                color: #8bbce0;
              }
            }
          }
        }
        .logo-layout {
          margin-right: 20px;
          padding: 6px 0;
        }
      }
      .search {
        input {
          height: 48px;
          background: transparent;
          color: #fff;
          border: 1px solid #ddd;
          line-height: 22px;
          padding: 0 20px;
          border-radius: 4px;
        }
        .search-btn {
          height: 57px;
          border: 0;
          background: #8bbce0;
          color: #fff;
          cursor: pointer;
        }
        .theme-btn {
          height: 57px;
          margin-right: 10px;
          background: transparent;
          border: 0;
        }
      }
    }
  }
  .main-content {
    height: auto;
    min-height: 85vh;
    .random-layout {
      min-height: 220px;
      // padding: 10px;
      // margin-bottom: 20px;
      // background: #fff;
      h4 {
        font-size: 23px;
        font-weight: bold;
        margin-top: 0;
        color: #7a8293;
        padding-bottom: 15px;
        border-bottom: solid 1px #ddd;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
      }
      .alice-carousel__dots {
        display: none;
      }
    }
    .main-header {
      width: 96%;
      padding: 0 2%;
      margin-bottom: 0;
      height: 50px;
      border-bottom: 1px solid #ddd;
    }
    .content-list {
      // background-color: #fff;
      .content-title {
        font-size: 23px;
        font-weight: bold;
        margin-top: 0;
        color: #7a8293;
        padding-bottom: 15px;
        border-bottom: solid 1px #ddd;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .listing-layout {
        display: flex;
        // justify-content: space-evenly;
        align-items: flex-start;
        // column-gap: 20px;
      }
      .content-body {
        width: 740px;
        padding: 0 20px;
        border-right: solid 1px #ddd;
        // display: grid;
        // grid-template-columns: auto auto auto auto auto;
        // gap: 12px;
        .section {
          display: flex;
          flex-wrap: wrap;
          column-gap: 16px;
          row-gap: 30px;
          max-height: 257px;
          overflow: hidden;
        }
        .section-header {
          display: flex;
          justify-content: space-between;
          padding: 16px 0;
          margin: 16px 0;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }
      }
    }
  }
  .footer {
    color: #7a8293;
  }
}

.item-card {
  // width: 126px;
  max-height: 230px;
  // display: inline-block;
  // margin: 0 0 19px 10px;

  .image {
    height: 194px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .image:hover {
    .player {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transition: none;
      z-index: 1;
    }
  }
  .info {
    .title {
      width: 100%;
      height: 17px;
      overflow: hidden;
      margin-top: 7px;
      color: #7a8293;
      width: 126px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .desc {
      font-size: 12px;
      color: #646b79;
      text-decoration: none;
      margin-top: 3px;
      width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.alice-carousel__stage-item {
  margin: 0 5px;
}
