@charset "UTF-8";

@import 'reset'; // reset css
@import 'base'; // configuration
@import 'layouts'; // layouts
// @import 'components'; // components

.container {
  width: 1000px;
  height: 57px;
  margin: 0 auto;
}
.flex-layout {
  display: flex;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #636363;
  background: #e9eaed;
  .header {
    width: 100%;
    margin: 0 auto;
    background: #262b36;
    .header-layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-menu {
        ul {
          margin: 0;
          padding: 0;
          li {
            display: inline-flex;
            padding: 0 1rem;
            height: 57px;
            align-items: center;
            a {
              float: left;
              color: #7a889d;
              text-decoration: none;
              font-size: 12px;
              font-weight: 600;
              font-family: Helvetica, Arial, sans-serif;
              &:hover {
                color: #8bbce0;
              }
            }
          }
        }
        .logo-layout {
          margin-right: 20px;
          padding: 10px 0;
        }
      }
      .search {
        input {
          height: 48px;
          background: transparent;
          color: #fff;
          border: 1px solid #ddd;
          line-height: 22px;
          padding: 0 20px;
          border-radius: 4px;
        }
        button {
          height: 57px;
          border: 0;
          background: #8bbce0;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .main-content {
    // box-shadow: 0 1px 10px rgb(51 92 115 / 10%), 0 0 5px rgb(0 0 0 / 5%);
    height: auto;
    min-height: 85vh;
    .random-layout {
      min-height: 220px;
      padding: 10px;
      margin-bottom: 20px;
      background: #fff;
      h4 {
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
        color: #a2a8b8;
      }
    }
    .main-header {
      width: 96%;
      padding: 0 2%;
      margin-bottom: 0;
      height: 50px;
      // float: left;
      border-bottom: 1px solid #ddd;
    }
    .content-list {
      // float: left;
      // width: 980px;
      // padding: 10px;
      background-color: #fff;
      .content-title {
        font-size: 23px;
        font-weight: bold;
        margin-top: 0;
        color: #7a8293;
        padding-bottom: 15px;
        border-bottom: solid 1px #ddd;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .listing-layout {
        display: flex;
        justify-content: space-evenly;
      }
      .content-body {
        width: 740px;
        padding: 20px;
        border-right: solid 1px #ddd;
        display: flex;
        flex-flow: wrap;
        column-gap: 10px;
        row-gap: 10px;
      }
      .sidebar {
        width: 200px;
        padding: 15px 0;
      }
    }
  }
  .footer {
    color: #7a8293;
  }
}

.item-card {
  max-width: 138px;
  max-height: 230px;
  .image {
    height: 194px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .image:hover {
    .player {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      transition: none;
      z-index: 1;
    }
  }
  .info {
    p {
      // font-size: 15px;
      // font-weight: 300;
      width: 100%;
      height: 17px;
      overflow: hidden;
      margin-top: 7px;
      color: #7a8293;
    }
    span {
      font-size: 12px;
      color: #646b79;
      text-decoration: none;
      margin-top: 3px;
    }
  }
}
.alice-carousel__stage-item {
  margin: 0 5px;
}
